.img_box {
    margin: 10px;
    padding: 5px;
    border: 1px solid #fff;
    display: none;
}

.img_box img {
    height: 300px;
    min-width: 550px;
    max-width: 550px;
    vertical-align: middle;
}

.img_box.active {
    box-shadow: 1px 1px 2px 2px #d4d4d4;
    display: block;
}

/* responsive css */

/* for mobile */
@media only screen and (min-width: 320px) and (max-width: 568px) {
    .img_box img {
        max-width: 100%;
        min-width: 100%;
    }
}